body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.play {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.btn1 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff7f0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.btn1:hover {
    background-color: #ff6c00;
}

.btn2 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ca02c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.btn2:hover {
    background-color: #218838;
}

input[type="file"] {
    display: none;
}

.file-upload-label {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    display: inline-block;
}

.file-upload-label:hover {
    background-color: #0056b3;
}
